USE [master]
GO
/****** Object:  Database [stud]    Script Date: 01.04.2025 0:17:38 ******/
CREATE DATABASE [stud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'stud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\stud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'stud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\stud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [stud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [stud]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 01.04.2025 0:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[IDEvent] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](255) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Descriptions] [text] NULL,
	[IDOrganizer] [int] NOT NULL,
	[Location] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventTasks]    Script Date: 01.04.2025 0:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventTasks](
	[IDTask] [int] IDENTITY(1,1) NOT NULL,
	[IDEvent] [int] NOT NULL,
	[IDSector] [int] NOT NULL,
	[TaskName] [nvarchar](100) NOT NULL,
	[TasksDescription] [nvarchar](255) NULL,
	[Deadline] [date] NOT NULL,
	[Points] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTask] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 01.04.2025 0:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[IDPosition] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Responsibilities] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 01.04.2025 0:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[IDRegistration] [int] IDENTITY(1,1) NOT NULL,
	[IDStudent] [int] NOT NULL,
	[IDTask] [int] NOT NULL,
	[RegistrationDate] [date] NOT NULL,
	[RegistrationStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRegistration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sectors]    Script Date: 01.04.2025 0:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sectors](
	[IDSector] [int] IDENTITY(1,1) NOT NULL,
	[SectorName] [nvarchar](100) NOT NULL,
	[Descriptions] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentEventParticipation]    Script Date: 01.04.2025 0:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentEventParticipation](
	[IDStudentEventParticipation] [int] IDENTITY(1,1) NOT NULL,
	[IDStudent] [int] NOT NULL,
	[IDEvent] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDStudentEventParticipation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentPositions]    Script Date: 01.04.2025 0:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentPositions](
	[IDStudentPositions] [int] IDENTITY(1,1) NOT NULL,
	[IDStudent] [int] NOT NULL,
	[IDPosition] [int] NOT NULL,
	[IDSector] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDStudentPositions] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 01.04.2025 0:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[IDStudent] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[DateOfBirth] [date] NOT NULL,
	[StudentCardNumber] [int] NOT NULL,
	[Course] [int] NOT NULL,
	[Groupp] [int] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[JoinDate] [date] NOT NULL,
	[Points] [int] NOT NULL,
	[IDUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StudentCardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSectors]    Script Date: 01.04.2025 0:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSectors](
	[IDStudentSectors] [int] IDENTITY(1,1) NOT NULL,
	[IDStudent] [int] NOT NULL,
	[IDSector] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDStudentSectors] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01.04.2025 0:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IDStudent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IDStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD FOREIGN KEY([IDOrganizer])
REFERENCES [dbo].[Students] ([IDStudent])
GO
ALTER TABLE [dbo].[EventTasks]  WITH CHECK ADD FOREIGN KEY([IDEvent])
REFERENCES [dbo].[Events] ([IDEvent])
GO
ALTER TABLE [dbo].[EventTasks]  WITH CHECK ADD FOREIGN KEY([IDSector])
REFERENCES [dbo].[Sectors] ([IDSector])
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD FOREIGN KEY([IDStudent])
REFERENCES [dbo].[Students] ([IDStudent])
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD FOREIGN KEY([IDTask])
REFERENCES [dbo].[EventTasks] ([IDTask])
GO
ALTER TABLE [dbo].[StudentEventParticipation]  WITH CHECK ADD FOREIGN KEY([IDEvent])
REFERENCES [dbo].[Events] ([IDEvent])
GO
ALTER TABLE [dbo].[StudentEventParticipation]  WITH CHECK ADD FOREIGN KEY([IDStudent])
REFERENCES [dbo].[Students] ([IDStudent])
GO
ALTER TABLE [dbo].[StudentPositions]  WITH CHECK ADD FOREIGN KEY([IDPosition])
REFERENCES [dbo].[Positions] ([IDPosition])
GO
ALTER TABLE [dbo].[StudentPositions]  WITH CHECK ADD FOREIGN KEY([IDSector])
REFERENCES [dbo].[Sectors] ([IDSector])
GO
ALTER TABLE [dbo].[StudentPositions]  WITH CHECK ADD FOREIGN KEY([IDStudent])
REFERENCES [dbo].[Students] ([IDStudent])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users] FOREIGN KEY([IDUser])
REFERENCES [dbo].[Users] ([IDUser])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users]
GO
ALTER TABLE [dbo].[StudentSectors]  WITH CHECK ADD FOREIGN KEY([IDSector])
REFERENCES [dbo].[Sectors] ([IDSector])
GO
ALTER TABLE [dbo].[StudentSectors]  WITH CHECK ADD FOREIGN KEY([IDStudent])
REFERENCES [dbo].[Students] ([IDStudent])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([IDStudent])
REFERENCES [dbo].[Students] ([IDStudent])
GO
USE [master]
GO
